.how-did-it-start {
    margin: 0 0 55px 1px;
    font-family: 'League Spartan';
    font-size: 35px;
    text-align: center;
    color: #004771;
  }
  
  .how-did-it-start p {
    font-family: 'League Spartan';
    font-size: 25px;
    line-height: 1.8;
    text-align: center;
    color: #3E3737;
  }
  